
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="pages/landing/home" class="logo d-flex align-items-center">
        <img src="../../../assets/Asset 7.svg" class="logo2"  alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li routerLinkActive="active"><a class="nav-link scrollto active" routerLink="/pages/landing/home"  >Home</a></li>
          <li routerLinkActive="active"><a class="nav-link scrollto" routerLink="/pages/landing/about">
            About</a>
        </li>
          <li routerLinkActive="active"><a class="nav-link scrollto"routerLink="/pages/landing/services">Services</a></li>
          <li routerLinkActive="active"><a class="nav-link scrollto" routerLink="/pages/landing/team">Team</a></li>
            
          <li routerLinkActive="active"><a class="nav-link scrollto"routerLink="/pages/landing/contact">Contact</a></li>
          <li routerLinkActive="active"><a class="getstarted scrollto" href="auth/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 >Find great talent. Build your business.
Take your career to the next level.</h1>
          <h2  data-aos-delay="400">Hiring Made Easy</h2>
          <div  data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="auth/login" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img"  data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section> -->
  <!-- End Hero -->

  <router-outlet>

  </router-outlet>

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../assets/assets2/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../../../assets/assets2/vendor/aos/aos.js"></script>
  <script src="../../../assets/assets2/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/assets2/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../../assets/assets2/vendor/purecounter/purecounter.js"></script>
  <script src="../../../assets/assets2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../../assets/assets2/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/assets2/js/main1.js"></script>