<form >
  <table style="width: 100%;">
    <tr>
      <td>
        <div class="form-group">
          <label for="type">Type</label>
            <select style="width: 80%;" class="form-control"name="type" #t id="type"(change)="filtrer(l.value,t.value,c.value)">
              <option>All</option>
              <option *ngFor="let type of types">{{type}}</option>
            </select>
          </div>
      </td>
      <td>
        <div class="form-group">
          <label for="categorie">Categorie</label>
            <select style="width: 80%;" class="form-control" #c name="cat" id="cat"(change)="filtrer(l.value,t.value,c.value)">
              <option>All</option>
              <option *ngFor="let cat of categories">{{cat}}</option>
              
            </select>
          </div>
      </td>
      <td>
        <div class="form-group">
          <label for="type">Location</label>
            <select style="width: 80%;" class="form-control"name="loc" #l id="loc"(change)="filtrer(l.value,t.value,c.value)">
              <option>All</option>
              <option *ngFor="let loc of location">{{loc}}</option>
              
            </select>
          </div>
      </td>
    </tr>
    <!-- <tr>
      <td colspan="3"> 
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input style="width: 100%;">
        </mat-form-field>
    </td>
    </tr> -->
  </table>

</form>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let offer of offers">
  <div class="blog-card blog-card-blog">
    <div class="blog-card-image">
        <a href="#"> <img class="img" src="{{offer.offertasksolution.image}}"> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> {{offer.offertasksolution.categorie}}</h6>
        <h4 class="blog-card-caption">
            <a (click)='getOffer(offer)'>{{offer.offertasksolution.title}}</a>
        </h4>
        <p class="blog-card-description">{{offer.offertasksolution.description}}.</p>
        <div class="ftr">
            <div class="author">
                <a href="#"> <img src="{{offer.profile.profilePicUrl}}" alt="..." class="avatar img-raised"> <span>{{offer.profile.name}}</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> {{changeDate(offer.updated_at)}} </div>
        </div>
    </div>
</div>
</div>
    
    
    <!-- <div class="col-md-4">
  <div class="blog-card blog-card-blog">
    <div class="blog-card-image">
        <a href="#"> <img class="img" src="https://picsum.photos/id/1084/536/354?grayscale"> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> News</h6>
        <h4 class="blog-card-caption">
            <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
        </h4>
        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="ftr">
            <div class="author">
                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
        </div>
    </div>
</div>
</div>
    
    <div class="col-md-4">
  <div class="blog-card blog-card-blog">
    <div class="blog-card-image">
        <a href="#"> <img class="img" src="https://picsum.photos/id/1084/536/354?grayscale"> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> News</h6>
        <h4 class="blog-card-caption">
            <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
        </h4>
        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="ftr">
            <div class="author">
                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
        </div>
    </div>
</div>
</div> -->
  </div>
</div>


<!-- <div class="tab-content bg-transparent">
  <div id="note-full-container" class="note-has-grid row">
    <div class="col-md-4 single-note-item all-category"*ngFor="let offer of offers" >
      <div class="card card-body">
      <span class="side-stick"></span>
      <div class="container">
      <h6 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie" style="margin-left: -1rem;"><a (click)='getOffer(offer)'>{{offer.offertasksolution.title}}</a> <i class="point fa fa-circle ml-1 font-10"></i></h6>
      <span class="badge badge-primary" >{{offer.offertasksolution.categorie}}</span>
    
  
    </div>
      <div >
         <p class="text-muted"><i class="far fa-clock"></i> {{changeDate(offer.updated_at)}}  <i class="fas fa-map-marker-alt"></i> {{offer.offertasksolution.location}} </p> 
  
      </div>
      <div class="note-content">
        <di class="container">
      <p class="note-inner-content text-muted text-truncate" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis." style="margin-left: -1rem;">{{offer.offertasksolution.description}}</p>
      <p class="text-muted" style="margin-left: 8rem;">{{offer.offertasksolution.cost}}<small class="text-muted" style="margin-left: 0.25rem;">Dinars </small></p>
    </di>
      </div>
      
      </div>
      <br>
      </div>

</div>
</div> -->