 <!-- ======= Services Section ======= -->
 <section id="services" class="services">

    <div class="container" >

      <header class="section-header">
        <h2>Services</h2>
        <p>Hemisphere offers a variety f services </p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6"  data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Post a job </h3>
            <p>It's easy. Simply post a job you need completed and receive competitive bids from students within minutes.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3> Choose student </h3>
            <p>Whatever your needs, there will be a student to get it done: from web design, mobile app development, virtual assistants, product manufacturing, and graphic design (and a whole lot more). </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3> Pay safely </h3>
            <p>With secure payments Hemisphere is the simplest and safest way to get work done online. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3> Pay for quality </h3>
            <p>Pay for work when it has been completed and you're 100% satisfied.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3> Browse portfolios </h3>
            <p>Find professionals you can trust by browsing their samples of previous work and reading their profile reviews. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3> 24/7 support </h3>
            <p>We're always here to help. Our support consists of real people who are available 24/7. </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->