<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<a class="logo" href="/profile" >Profile</a> > Settings
<br><br>
<div class="container">
    <div class="row flex-lg-nowrap">


        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded"
                                                style="height: 140px; background-color: rgb(255, 255, 255);">
                                                <img class="d-flex " alt="64x64" [src]="imageUrl" style="width: 140px; height: 140px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{profile?.name}} {{profile?.lastname}}</h4>
                                            <p class="mb-0">@{{user?.username}}</p>
                                            <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                                            <div class="mt-2">
                                                <button class="btn btn-primary" type="button" (click)="fileInput.click()"(change)="onSelectFile($event.target.files)">
                                                    <input type='file'style="display:none;" #fileInput (change)="onSelectFile($event.target.files)">  
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Change Photo</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span class="badge badge-secondary">{{myrole}}</span>
                                            <div class="text-muted"><small>Joined the {{formattedDate}}</small></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account"
                                            role="tab" aria-controls="account" aria-selected="true">Profile Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="false">Account Settings</a>
                                    </li>
                                </ul>
                                <!-- <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="" class="active nav-link">Profile Settings</a></li>
                                    <li class="nav-item"><a href="" class="active nav-link">Account Settings</a></li>
                                </ul> -->
                                <div class="tab-content pt-3">
                                    <div class="tab-pane fade show active" id="account" role="tabpanel"
                                        aria-labelledby="account-tab">

                                        <div class="row">
                                            <div class="col">
                                                <!-- <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input class="form-control" [(ngModel)]="username" type="text" name="username"
                                                                placeholder="" value="{{user?.username}}">
                                                        </div>
                                                        </div>
                                                        </div> -->
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input class="form-control"[(ngModel)]="first" type="text" name="name"
                                                                placeholder="" value="{{profile?.name}}">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>LastName</label>
                                                            <input class="form-control"[(ngModel)]="last" type="text" name="username"
                                                                placeholder="" value="{{profile?.lastname}}">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"[(ngModel)]="email" type="text"
                                                                placeholder="user@example.com" value="{{user?.email}}">
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input class="form-control"[(ngModel)]="phone" type="text" placeholder="+216" value="(+216) {{profile?.phone}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Interest</label>
                                                            <input class="form-control"[(ngModel)]="interests" name="interests" value="{{profile?.interests}}" type="text" placeholder="">
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress2">Languages </label>
                                                    <input type="text"[(ngModel)]="languages" class="form-control" id="inputAddress2"
                                                        placeholder="French, English, or Arabic" value="{{profile?.languages}}">
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputCity">Location</label>
                                                        <input type="text" class="form-control"[(ngModel)]="location" id="inputCity" value="{{profile?.location}}">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label >State</label>
                                                        <input type="text" class="form-control"value="{{profile?.state}}"[(ngModel)]="state" id="inputZip">
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label >City</label>
                                                        <input type="text" class="form-control"value="{{profile?.city}}"[(ngModel)]="city" id="inputZip">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label>About</label>
                                                            <textarea class="form-control"[(ngModel)]="about" rows="5" value="{{profile?.about}}"
                                                                placeholder="My Bio"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <button class="btn btn-primary" (click)="updateprofile()" type="submit">Save Changes</button>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane fade show " id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <!-- <div class="mb-2"><b>Change Username</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input class="form-control" [(ngModel)]="username" type="text" name="username"
                                                                    placeholder="" value="{{user?.username}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-2"><b>Change email</b></div> -->
                                                    <!-- <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input class="form-control"[(ngModel)]="email" type="text"
                                                                    placeholder="user@example.com" value="{{user?.email}}">
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="mb-2"><b>Change Password</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Current Password</label>
                                                                <input class="form-control"[(ngModel)]="cpass"name="cpass" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>New Password</label>
                                                                <input class="form-control"[(ngModel)]="npass"name="npass" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Confirm <span
                                                                        class="d-none d-xl-inline">Password</span></label>
                                                                <input class="form-control"[(ngModel)]="cnpass"name="cnpass" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">

                                                </div>
                                            </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <button class="btn btn-primary" (click)="updateuser()" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->