<button class="btn btn-primary" (click)="open(offer)"> <i class="fas fa-folder-plus"></i> Create new offer</button>

<br><br>
  <form on>
    <table style="width: 100%;">
      <tr>
        <td>
          <div class="form-group">
            <label for="type">Type</label>
              <select style="width: 80%;" class="form-control"name="type" #t id="type"(change)="filtrer(l.value,t.value,c.value)">
                <option>All</option>
                <option *ngFor="let ty of types">{{ty}}</option>
              </select>
            </div>
        </td>
        <td>
          <div class="form-group">
            <label for="categorie">Categorie</label>
              <select style="width: 80%;" class="form-control" #c name="cat" id="cat"(change)="filtrer(l.value,t.value,c.value)">
                <option>All</option>
                <option *ngFor="let cat of categories">{{cat}}</option>
                
              </select>
            </div>
        </td>
        <td>
          <div class="form-group">
            <label for="type">Location</label>
              <select style="width: 80%;" class="form-control"name="loc" #l id="loc"(change)="filtrer(l.value,t.value,c.value)">
                <option>All</option>
                <option *ngFor="let loc of locations">{{loc}}</option>
                
              </select>
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="3"> 
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <br>
            <input matInput (keyup)="applyFilter($event)"  #input>
          </mat-form-field>
      </td>
      </tr>
    </table>

  </form>
  <br><br>
  <div class="tab-content bg-transparent">
    <div id="note-full-container" class="note-has-grid row">
      <div class="col-md-4 single-note-item all-category"*ngFor="let offer of offers" >
        <div class="card card-body">
        <span class="side-stick"></span>
        <div class="container">
        <h6 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie" style="margin-left: -1rem;"><a (click)='getOffer(offer.id)'>{{offer.offertasksolution.title}}</a> <i class="point fa fa-circle ml-1 font-10"></i></h6>
        <span class="badge badge-primary">{{offer.offertasksolution.categorie}}</span>
      
    
      </div>
        <div >
           <p class="text-muted"><i class="far fa-clock"></i> {{changeDate(offer.updated_at)}}  <i class="fas fa-map-marker-alt"></i> {{offer.offertasksolution.location}} </p> 
    
        </div>
        <div class="note-content">
          <di class="container">
        <p class="note-inner-content text-muted text-truncate" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis." style="margin-left: -1rem;">{{offer.offertasksolution.description}}</p>
        <p class="text-muted" style="margin-left: 8rem;">{{offer.offertasksolution.cost}}<small class="text-muted" style="margin-left: 0.25rem;">Dinars </small></p>
      </di>
        </div>
        
        </div>
        <br>
        </div>
</div>
</div>
    <ng-template #offer let-modal let-c="close" let-d="dismiss" class="modal-dialog" >
      <div class="modal-header bg-primary " >
      <h4 class="modal-title text-white" id="modal-basic-title" >Create new Offer</h4>
      <hr>
      <button type="button" class="close" aria-label="Close" #closebutton (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <form class="forms-sample" (ngSubmit)="createOffer()"  >
      <div class="modal-body" >
      
     
      <div class="form-group">
      <label for="title"><b>Title</b> </label>
      <input type="text" class="form-control"[(ngModel)]="title" name="title" id="title" placeholder="Title">
      </div>
      <div class="form-group">
      <label for="poste"><b>Poste</b> </label>
      <input type="text"  name="poste" class="form-control"[(ngModel)]="poste" id="poste" placeholder="Poste">
      </div>
   
      <div class="form-group">
      <label for="nofstune"><b>Number of student</b></label>
      <input type="number"  name="nofstudent" [(ngModel)]="nofstudent" class="form-control" id="nofstudent" >
      </div>
      <div class="form-group">
      <label for="location"><b>Location</b></label>
      <select  class="form-control"name="location" [(ngModel)]="location" id="loc">
      <option *ngFor="let loc of locations">{{loc}}</option>
      </select>
      </div>
      
      <div class="form-group">
      <label for="type"><b>Type</b></label>
      <select class="form-control" name="type" id="type" [(ngModel)]="type">
      <option *ngFor="let ty of types">{{ty}}</option>
      </select>
      </div>
      <div class="form-group">
      <label for="categorie"><b>Categorie</b></label>
      <select class="form-control" name="categorie" id="categorie"[(ngModel)]="categorie">
      <option *ngFor="let cat of categories">{{cat}}</option>
      
      </select>
      </div>
     
      <div class="form-group">
      <label for="date"><b>Date</b></label>
      <input type="date" class="form-control" name="date" id="date">
      </div>
      
      <div class="col-md-6">
      <div class="form-group row">
      <label for="supervision"><b>Supervision</b></label>
      &nbsp;&nbsp;&nbsp;
      <label class="switch">
      <input type="checkbox" [(ngModel)]="supervised"id="supervised" name="supervised" >
      <span class="slider round"></span>
      </label> 
      
      
      <!-- don't include this please  -->
      <!-- <label >Membership</label>
      <div >
      <div class="form-check">
      <label class="form-check-label">
      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
      Free
      <i class="input-helper"></i>
      </label>
      </div>
      </div>
      <div>
      <div class="form-check">
      <label class="form-check-label">
      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
      Professional
      <i class="input-helper"></i>
      </label>
      </div>
      </div> -->
      
      <!-- inculude this -->
      </div>
      </div>
     
     
      <div *ngIf="checkSupervision()" class="form-group">
      <label for="cost"><b>Cost Of Supervision</b></label>
      <input type="number"[(ngModel)]="cost" name="cost" class="form-control" id="cost" >
      </div>
    
      <!-- <tr><td colspan="3">
      <div class="form-group">
      <label>Upload File</label>
      <input type="file" name="img[]" class="file-upload-default">
      <div class="input-group col-xs-12">
      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
      <span class="input-group-append">
      <button class="file-upload-browse btn btn-gradient-success" type="button">Upload</button>
      </span>
      </div>
      </div></td></tr> -->
      <!-- <tr><td style="padding-right: 40px;">
      <div class="form-group">
      <label for="cname">Company Name</label>
      <input type="text" [(ngModel)]="cname" class="form-control" id="cname" placeholder="Company Name">
      </div></td>  -->
      
      
      <!-- <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description"name="description"[(ngModel)]="description" rows="4"></textarea>
      </div> -->
      <div class="form-group">
        <label for="description"><b>Description</b></label>
        <textarea class="form-control" id="description" [(ngModel)]="description" name="description" rows="4"></textarea>
        </div>
  
      
      
      </div>
      <div class="modal-footer">
      <button id="btn-n-save" class="float-left btn btn-success" style="display: none;">Save</button>
      <button class="btn btn-danger" data-dismiss="modal">Discard</button>
      <button id="btn-n-add" class="btn btn-info" >Add</button>
      </div>
      </form>
      </ng-template>






