@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}
body {
  background-color: #eeeeee;
  font-family: "Roboto" monospace;
}

.card-inner-content {
  padding: 1rem;
}

// if widht is less than 992px, margin-bottom = 2 rem
.gedf-card {
  margin-bottom: 2 rem;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

.main-wrapper {
  margin: 5em 5em 0em 5em;
}
.h7 {
  /* font-size: 0.8rem; */
}

.dropdown-toggle::after {
  content: none;
  display: none;
}

.offset-fixed{
}

// Left sideBar
.btn-menu:hover {
  background-color: rgba(150, 150, 150, 0.2);
}
.side-left{
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100vh - 7.5rem);
        }

.img-circle{
    width: 5rem;
    height: 3.1rem;
    background-color: #f7f7f7;
    border-radius: 50%;
    border: 1px solid #dddddd;
}
.state{
    width: 0.5rem;
    height: 0.5rem;
    background-color: green;
    border-radius: 50%
}
.friend-state{
    padding: 0.57rem 0.3rem;
    cursor: pointer;
    transition: all 0.1s;
}
.friend-state:hover{
    background-color: #f7f7f7;
}

#friendList_search {
  border: none;
  border-bottom: 2px solid red;
}
#friendList_search:active {
  border: none;
}

.left-icon-holder {
  position:relative;
}
.left-icon-holder .bi {
  position:absolute;
  line-height: 24px;
  top:50%;
  margin-top: -12px; /* Half of line height to keep left middle postion of container */
  left: 10px;
}

 