<button class="btn btn-primary" (click)="open(content)"> <i class="fas fa-folder-plus"></i> Create new task</button>



   <!--<div class="tab-content bg-transparent">
    <div id="note-full-container" class="note-has-grid row">
        <div class="col-md-4 single-note-item all-category" *ngFor="let task of mylist">
          <div class="card card-body">
            <span class="side-stick"></span>
            <div class="container">
            <h6 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie" style="margin-left: -1rem;"><a (click)='getOffer(task.id)'>{{task.offertasksolution.title}}</a> <i class="point fa fa-circle ml-1 font-10"></i></h6>
            <span class="badge badge-primary">{{task.offertasksolution.categorie}}</span>
          
        
          </div>
            <div >
               <p class="text-muted"><i class="far fa-clock"></i> {{changeDate(task.updated_at)}}  <i class="fas fa-map-marker-alt"></i> {{task.offertasksolution.location}} </p> 
        
            </div>
            <div class="note-content">
              <di class="container">
            <p class="note-inner-content text-muted text-truncate" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis." style="margin-left: -1rem;">{{task.offertasksolution.description}}</p>
            <p class="text-muted" style="margin-left: 8rem;">{{task.offertasksolution.cost}}<small class="text-muted" style="margin-left: 0.25rem;">Dinars </small></p>
          </di>
            </div>
            
            </div>
            <br>
        </div>
    </div>
</div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="tr-job-posted section-padding">
    <div class="container">
		<div class="job-tab text-center">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
				<li role="presentation" class="active">
					<a class="active show" href="#hot-jobs" aria-controls="hot-jobs" role="tab" data-toggle="tab" aria-selected="true">Hot Jobs</a>
				</li>
				<li role="presentation"><a href="#recent-jobs" aria-controls="recent-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">Recent Jobs</a></li>
				<li role="presentation"><a href="#popular-jobs" aria-controls="popular-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">Popular Jobs</a></li>
			</ul>
      <form >
        <table style="width: 100%;">
          <tr>
            <td>
              <div class="form-group">
                <label for="categorie">Categorie</label>
                  <select style="width: 80%;" class="form-control" #c name="cat" id="cat"(change)="filtrer(l.value,c.value)">
                    <option>All</option>
                    <option *ngFor="let cat of categories">{{cat}}</option>
                    
                  </select>
                </div>
            </td>
            <td>
              <div class="form-group">
                <label for="type">Location</label>
                  <select style="width: 80%;" class="form-control"name="loc" #l id="loc"(change)="filtrer(l.value,c.value)">
                    <option>All</option>
                    <option *ngFor="let loc of locations">{{loc}}</option>
                    
                  </select>
                </div>
            </td>
          </tr>
          <!-- <tr>
            <td colspan="3"> 
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input style="width: 100%;">
              </mat-form-field>
          </td>
          </tr> -->
        </table>
    
      </form>
			
			<div class="tab-content text-left">
				<div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
					<div class="row">
<div class="col-md-6 col-lg-3" *ngFor="let task of mylist">
  <div class="job-item">
    <div class="item-overlay">
      <div class="job-info">
        <a href="#" class="btn btn-primary">Full Time</a>
        <span class="tr-title">
          <a (click)='getOffer(task.id)'>{{task.offertasksolution.title}}</a>
          <span><a href="#">{{task.offertasksolution.poste}}</a></span>
        </span>
        <ul class="tr-list job-meta">
          <li><i class="fa fa-map-signs" aria-hidden="true"></i>{{task.offertasksolution.location}}</li>
          <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
          <li><i class="fa fa-money" aria-hidden="true"></i>${{task.offertasksolution.cost}} - $6,000</li>
        </ul>
        <ul class="job-social tr-list">
          <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
          <li><a (click)='getOffer(task.id)'><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
        </ul>
      </div>										
    </div>
    <div class="job-info">
      <div class="company-logo">
        <img src="{{task.offertasksolution.image}}" alt="images" class="img-fluid">
      </div>
      <span class="tr-title">
        <a href="#">{{task.offertasksolution.title}}</a>
        <span><a href="#">{{task.offertasksolution.poste}}</a></span>
      </span>
      <ul class="tr-list job-meta">
        <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>{{task.offertasksolution.location}}</li>
        <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
        <li><span><i class="fa fa-money" aria-hidden="true"></i></span>${{task.offertasksolution.cost}} - $6,000</li>
      </ul>
      <div class="time">
        <a href="#"><span>Full Time</span></a>
        <span class="pull-right">Posted {{changeDate(task.updated_at)}}</span>
      </div>																				
    </div>
  </div>
</div>
</div><!-- /.row -->
</div><!-- /.tab-pane -->
<div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Part Time</a>
            <span class="tr-title">
              <a href="#">Design Associate</a>
              <span><a href="#">Loop</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/DC143C/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Associate</a>
            <span><a href="#">Loop</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="part-time">Part Time</span></a>
            <span class="pull-right">Posted 1 day ago</span>
          </div>				
        </div>
      </div>
    </div>						
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Project Manager</a>
              <span><a href="#">Dig File</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/00008B/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Project Manager</a>
            <span><a href="#">Dig File</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted 23 hours ago</span>
          </div>			
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Part Time</a>
            <span class="tr-title">
              <a href="#">Design Consultant</a>
              <span><a href="#">Families</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/00CED1/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Consultant</a>
            <span><a href="#">Families</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="part-time">Part Time</span></a>
            <span class="pull-right">Posted Oct 09, 2017</span>
          </div>				
        </div>
      </div>
    </div>							
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Freelance</a>
            <span class="tr-title">
              <a href="#">Graphic Designer</a>
              <span><a href="#">Humanity Creative</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/696969/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Graphic Designer</a>
            <span><a href="#">Humanity Creative</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="freelance">Freelance</span></a>
            <span class="pull-right">Posted 10 day ago</span>
          </div>				
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Design Associate</a>
              <span><a href="#">Pencil</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/008000/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Associate</a>
            <span><a href="#">Pencil</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>	
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted 23 hours ago</span>
          </div>			
        </div>
      </div>
    </div>							
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Freelance</a>
            <span class="tr-title">
              <a href="#">Project Manager</a>
              <span><a href="#">Sky Creative</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/FF69B4/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Project Manager</a>
            <span><a href="#">Sky Creative</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="freelance">Freelance</span></a>
            <span class="pull-right">Posted 1 day ago</span>
          </div>			
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Part Time</a>
            <span class="tr-title">
              <a href="#">Design Consultant</a>
              <span><a href="#">Owl</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/CD5C5C/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Consultant</a>
            <span><a href="#">Owl</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="part-time">Part Time</span></a>
            <span class="pull-right">Posted 10 day ago</span>
          </div>				
        </div>
      </div>
    </div>							
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Graphic Designer</a>
              <span><a href="#">Fox</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/90EE90/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Graphic Designer</a>
            <span><a href="#">Fox</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted Oct 09, 2017</span>
          </div>				
        </div>
      </div>
    </div>
  </div><!-- /.row -->	
</div><!-- /.tab-pane -->
<div role="tabpanel" class="tab-pane fade in" id="popular-jobs">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Graphic Designer</a>
              <span><a href="#">Fox</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/87CEFA/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Graphic Designer</a>
            <span><a href="#">Fox</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>	
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted Oct 09, 2017</span>
          </div>			
        </div>
      </div>
    </div>						
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Part Time</a>
            <span class="tr-title">
              <a href="#">Design Associate</a>
              <span><a href="#">Loop</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/FFB6C1/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Associate</a>
            <span><a href="#">Loop</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="part-time">Part Time</span></a>
            <span class="pull-right">Posted 1 day ago</span>
          </div>			
        </div>
      </div>
    </div>						
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Project Manager</a>
              <span><a href="#">Dig File</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/D3D3D3/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Project Manager</a>
            <span><a href="#">Dig File</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted 23 hours ago</span>
          </div>				
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Freelance</a>
            <span class="tr-title">
              <a href="#">Graphic Designer</a>
              <span><a href="#">Humanity Creative</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/B0C4DE/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Graphic Designer</a>
            <span><a href="#">Humanity Creative</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="freelance">Freelance</span></a>
            <span class="pull-right">Posted 10 day ago</span>
          </div>			
        </div>
      </div>
    </div>							
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Design Consultant</a>
              <span><a href="#">Families</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/BA55D3/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Consultant</a>
            <span><a href="#">Families</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted Oct 09, 2017</span>
          </div>			
        </div>
      </div>
    </div>							
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Freelance</a>
            <span class="tr-title">
              <a href="#">Design Associate</a>
              <span><a href="#">Pencil</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/48D1CC/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Associate</a>
            <span><a href="#">Pencil</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>	
          <div class="time">
            <a href="#"><span class="freelance">Freelance</span></a>
            <span class="pull-right">Posted 23 hours ago</span>
          </div>		
        </div>
      </div>
    </div>	
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Part Time</a>
            <span class="tr-title">
              <a href="#">Design Consultant</a>
              <span><a href="#">Owl</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/9370DB/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Design Consultant</a>
            <span><a href="#">Owl</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span class="part-time">Part Time</span></a>
            <span class="pull-right">Posted 10 day ago</span>
          </div>			
        </div>
      </div>
    </div>														
    <div class="col-md-6 col-lg-3">
      <div class="job-item">
        <div class="item-overlay">
          <div class="job-info">
            <a href="#" class="btn btn-primary">Full Time</a>
            <span class="tr-title">
              <a href="#">Project Manager</a>
              <span><a href="#">Sky Creative</a></span>
            </span>
            <ul class="tr-list job-meta">
              <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US</li>
              <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
              <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
            </ul>
            <ul class="job-social tr-list">
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>										
        </div>								
        <div class="job-info">
          <div class="company-logo">
            <img src="https://via.placeholder.com/300x100/48D1CC/000000" alt="images" class="img-fluid">
          </div>
          <span class="tr-title">
            <a href="#">Project Manager</a>
            <span><a href="#">Sky Creative</a></span>
          </span>
          <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
          </ul>
          <div class="time">
            <a href="#"><span>Full Time</span></a>
            <span class="pull-right">Posted 1 day ago</span>
          </div>				
        </div>
      </div>
    </div>
  </div><!-- /.row -->	
</div><!-- /.tab-pane -->
</div>				
</div><!-- /.job-tab -->			
</div><!-- /.container -->
</div>
<ng-template #content let-modal let-c="close" let-d="dismiss" class="modal-dialog" >
    <div class="modal-header bg-primary" >
      <h4 class="modal-title text-white" id="modal-basic-title" style="text-align: center;">Create new Task</h4>
      
      <button type="button" class="close" aria-label="Close" #closebutton (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <form class="forms-sample" (ngSubmit)="createTask()"  >
    <div class="modal-body" >
     
       
        <div class="form-group">
          <label for="title"><b>Title</b></label>
          <input type="text" class="form-control"[(ngModel)]="title" name="title" id="title" placeholder="Title">
        </div>
        <!-- <td style="padding-right: 40px;">
        <div class="form-group">
          <label for="poste">Poste</label>
          <input type="text" style="width: 200px;" class="form-control"[(ngModel)]="poste" name="poste" id="poste" placeholder="Poste">
        </div>
    </td> -->
        
          <div class="form-group">
            <label for="nofstune"><b>Number of student</b></label>
            <input type="number"   [(ngModel)]="nofstudent" name="nofstudent" class="form-control" id="nofstudent" >
          </div>
      
        <div class="form-group">
          <label for="location"><b>Location</b></label>
          <select  class="form-control"name="loc" [(ngModel)]="location" id="loc">
            <option *ngFor="let lo of locations">{{lo}}</option>
          </select>
        </div>
          <div class="form-group">
            <label for="categorie"><b>Categorie</b></label>
              <select class="form-control" id="categorie"name="categorie"[(ngModel)]="categorie">
                <option *ngFor="let cat of categories">{{cat}}</option>
                
              </select>
            </div>
           
        
   
            <div class="form-group">
              <label for="date"><b>Date</b></label>
              <input type="date" class="form-control"[(ngModel)]="date" name="date" id="date">
            </div>
            <div class="form-group">
              <label for="date"><b>Skills Required</b></label>
              <mat-form-field class="example-chip-list"> 
                <mat-chip-list #chipList aria-label="competance selection">
                  <mat-chip
                    *ngFor="let competance of competances"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(competance)">
                    {{competance}}
                    <i class="fas fa-times" matChipRemove *ngIf="removable"></i>
                  </mat-chip>&nbsp;&nbsp;
                  <input
                    #CompetanceInput
                    class="form-control"
                    [formControl]="fruitCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let competance of filteredCompetances | async" [value]="competance">
                    {{competance}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
           
            <!-- <div class="form-group">
              <label>Skills Required</label>
            
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info"name="cmp"id="cmp"[(ngModel)]="cmp"  placeholder="java , Api dev , angular">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-gradient-success" type="button" (click)="addcmp()"><i class="fas fa-plus"></i></button>
                </span>
              </div>
              <br>
              <div *ngFor="let l of lcompetance;let index = index;" ><button (click)="removeone(index)"><i class="fas fa-ban"></i>{{l}}</button></div>
              
            </div> -->
        
        <div class="col-md-6">
          <div class="form-group row">
            <label for="supervision"><b>Supervision</b></label>
            &nbsp;&nbsp;&nbsp;
            <label class="switch">
              <input type="checkbox" [(ngModel)]="supervised"id="supervised" name="supervised" >
              <span class="slider round"></span>
            </label>
        </div>
    </div>
    
      <div *ngIf="checkSupervision()" class="form-group">
        <label for="cost"><b>Cost Of Supervision</b></label>
        <input type="number"[(ngModel)]="cost" name="cost" class="form-control" id="cost" >
      </div>
   
    <div class="form-group">
      <label for="description"><b>Description</b> </label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="description" rows="4"></textarea>
    </div>
    
  
</div>
<div class="modal-footer">
    <button id="btn-n-save" type="submit" class="float-left btn btn-success" style="display: none;">Save</button>
    <button class="btn btn-danger" data-dismiss="modal">Discard</button>
    <button id="btn-n-add" type="submit" class="btn btn-info" >Add</button>
</div>
</form>
</ng-template>

