<a class="logo" href="/student/offers" >Offers</a> > Details
<br><br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <div class="media mt-0 m-b-30"><img class="d-flex mr-3 rounded-circle" alt="64x64" src="{{generalPost?.profile.profilePicUrl}}" style="width: 48px; height: 48px;">
                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0">{{generalPost?.profile.name}} {{generalPost?.profile.lastname}}</h5><small style="margin-left: 0.5rem;" class="text-muted"><i class="fas fa-map-marker-alt"></i> {{generalPost?.offertasksolution.location}} </small></div>
                            <!-- <nb-action class="user-action" *nbIsGranted="true"> -->
                                <!-- <span >Application Done</span>
                                <nb-icon class="action-icon" [nbContextMenu]="appMenu" icon="settings-2-outline"></nb-icon> -->
                                <!-- <nb-user [nbContextMenu]="appMenu"
                                
                                [name]="profile?.name"
                               >
                                    </nb-user>
                              </nb-action> -->
                            <!-- <div *ngIf="found"><button type="submit" class="btn btn-warning text-white cog"><i class="fas fa-cog"></i> Edit My Application</button></div> -->
                            <div *ngIf="found" class="category-selector btn-group">
                                <span class="text-success"><b>Application Sent</b> </span>
                                <a class="nav-link dropdown-toggle category-dropdown label-group p-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                   <div class="category">
                                       <div class="category-business"></div>
                                       <div class="category-social"></div>
                                       <div class="category-important"></div>
                                       <span class="more-options text-dark"><i class="icon-options-vertical"></i></span>
                                   </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                   <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-primary" (click)="openModal(editt,myapp)" >
                                    <i class="far fa-edit"></i> Edit My Application
                                   </a>
                                   <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-danger" (click)="delete()">
                                    <i class="far fa-trash-alt"></i> Cancel My Application
                                   </a>
                                  
                                </div>
                                </div>
                            <div *ngIf="!found"><button type="submit" class="btn btn-success waves-effect waves-light" (click)="open(content)"><i class="fas fa-plus"></i> Make An Application</button></div>

                    </div>
                    <br>
                    <h4 class="m-b-20">{{generalPost?.offertasksolution.title}}</h4>
                    
                    <div class="assign-team mt-4">
                        <h6 class="m-b-5"><i class="fas fa-audio-description"></i> Description</h6>
                        <div>
                            <p>{{generalPost?.offertasksolution.description}}</p>
                    </div>
                    </div>
                    <!-- <p class="text-muted">{{generalPost?.offertasksolution.description}}</p> -->
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <h6 class="m-b-5"><i class="fas fa-code-branch"></i> category</h6>
                            <p  class="text-muted" >{{generalPost?.offertasksolution. categorie   }}</p>
                        </li>
                        <li>
                            <h6 class="m-b-5"><i class="fas fa-tags"></i> Price </h6>
                            <p> <small class="text-muted">{{generalPost?.offertasksolution.cost}} Dinars </small></p>
                        </li>
                    </ul>
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <div class="attached-files mt-4">
                                <h6 class=""><i class="fas fa-file-signature"></i> Offer Type</h6>
                                <p class="text-muted">{{generalPost?.offertasksolution.offer_type }} </p>
                            </div>
                        </li>
                        <li>
                            <div class="assign-team mt-4">
                                <h6 class="m-b-5"><i class="fas fa-users"></i> Students Number</h6>
                                <div>
                                    <p> <small class="text-muted">{{generalPost?.offertasksolution.studentNumber}} Students </small></p>
                            </div>
                            </div>
                        </li>
                    </ul>
                    
                    
                    <!-- <div class="clearfix"></div> -->
                    <div class="task-tags mt-4">
                        <h6 ><i class="fas fa-cubes"></i> Skills Required</h6>
                        <div class="bootstrap-tagsinput" *ngFor="let skill of offerCompetances">
                            <span class="tag label label-info text-white">{{skill.competance}}<span data-role="remove"></span></span> 
                            <!-- <span class="tag label label-info text-white">Bootstrap<span data-role="remove"> </span></span> 
                            <span class="tag label label-info text-white">Css<span data-role="remove"></span></span> -->
                                
                        </div>

                    </div>
                        
                    
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-b-30">Comments ({{count}})</h4>
                    <div>
                        <div class="media m-b-20" *ngFor="let comm of comms">
                            <div *ngIf="comm.general_Post!=null">
                                <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="{{comm.profile.profilePicUrl}}"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">{{comm.profile.name}} {{comm.profile.lastname}}</h5>
                                <p class="font-20 text-muted mb-0"><i class="far fa-comment-dots"></i> {{comm.content}}.</p>
                                <!-- <img class="media-object rounded-circle thumb-sm" alt="64x64" src="{{comm.profile.profilePicUrl}}"> -->
                                <!-- <div class="media-body">
                                    <h5 class="media-heading mb-0 mt-0">{{comm.profile.name}} {{comm.profile.lastname}}</h5>
                                <p class="font-13  mb-0"> {{comm.content}}</p> -->
                                <!-- <input type="text" [(ngModel)]="commnt" name="commnt" id="commnt" class="form-control input-sm" placeholder="Some text value..."> -->
                                <!-- <a (click)="addReply(comm)" class="text-success font-13">Reply</a> -->
                            <!-- </div> -->
                        </div>
                                <!-- <div class="media m-t-20 m-b-20" *ngIf="comm.id_comment!=null">
                                    <div class="d-flex mr-3">
                                        <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="{{comm.profile.profilePicUrl}}"></a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">{{comm.profile.name}} {{comm.profile.lastname}}</h5>
                                        <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Doyle</a> {{comm.content}}.</p></div>
                                </div> -->
                            </div>
                            </div>
                            <br><br><br><br>
                        </div>
                        <!-- <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Maxine Kennedy</h5>
                                <p class="font-13 text-muted mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                        </div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar5.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Erick Loper</h5>
                                <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Maxine</a> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                        </div> -->
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="{{profile.profilePicUrl}}"></a>
                            </div>
                            <form (ngSubmit)="addComment()">
                            <div class="media-body">
                                <!-- <input type="text"  name="commmentaire" id="commmentaire" class="form-control input-sm" placeholder="Some text value..."> -->
                                <div class="input-field form-group">
                                    <i class="fas fa-paper-plane"></i>
                                    <input type="text"name="commennt"
                                    [(ngModel)]="commennt"
                                    required
                                     class="form-control" placeholder="Comment">			  
                                </div>
                                <!-- <div class="mt-2 text-right">
                                    <button type="submit" class="btn btn-sm btn-custom waves-effect waves-light">Send</button>
                                </div> -->
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
<ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: rgb(45, 55, 76);">
      <h6 class="modal-title text-white" id="modal-basic-title">Apply to {{generalPost?.profile.name}}'s Offer</h6>
      <button type="button" class="close text-white" aria-label="Close" #closebutton (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="forms-sample" >
      <div class="modal-body">
        <div class="form-group">
            <label for="description">Motivation</label>
            <textarea class="form-control" id="motivation"name="motivation"[(ngModel)]="motivation" rows="4"></textarea>
            </div>
        <!-- <div class="form-group">
          <label for="motivation"><b>Motivation&nbsp;&nbsp; </b> </label>
          <textarea [(ngModel)]="motivation" name="motivation" size="20" type="text" class="form-control"
            id="motivation"> </textarea>
        </div> -->
      </div>
      <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark"(click)="addDemande()">Save</button>
        
      </div>
    </form>
  
  </ng-template>

  <ng-template #editt let-modal let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: rgb(45, 55, 76);">
      <h6 class="modal-title text-white" id="modal-basic-title">Apply to {{generalPost?.profile.name}}'s Offer</h6>
      <button type="button" class="close text-white" aria-label="Close" #closebutton (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="forms-sample"  [formGroup]="edit">
      <div class="modal-body">
        <div class="form-group">
            <label for="description">Motivation</label>
            <textarea class="form-control" id="motivation" formControlName="motivation" name="motivation" rows="4"></textarea>
            </div>
        <!-- <div class="form-group">
          <label for="motivation"><b>Motivation&nbsp;&nbsp; </b> </label>
          <textarea [(ngModel)]="motivation" name="motivation" size="20" type="text" class="form-control"
            id="motivation"> </textarea>
        </div> -->
      </div>
      <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark"(click)="editDemande()">Save</button>
        
      </div>
    </form>
  
  </ng-template>

