<div class="header-container" >
  <div class="logo-container" >
    <div *ngIf="isDashboardRoute()">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle" >
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
  </div>
  <a class="logo" href="/front/home"><span style="font-family:Arial, Helvetica, sans-serif">Hemisphere</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

</div>

<div class="header-container">
  <nb-actions size="small">
    
    <nb-action class="control-item">
      <div *ngIf="isDashboardRoute()">
        <a class="logo" href="/front/home" >home</a>
      </div>
      <div *ngIf="isFrontRoute()">
        <a class="logo" (click)="RedirectMe()" >dashboard</a>
      </div>
     
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="fullname"
               [picture]="profile?.profilePicUrl">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

