<!-- <div class="container" fxLayout="column">
    
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start">
      <div *ngFor="let chart of myProjects; let i = index" fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="33">
        <mat-card [ngStyle]="{'margin': '20px'}">
          <mat-card-header>
            <mat-card-title>{{chart.title}}</mat-card-title>
            <mat-card-subtitle>{{chart.start_date}} - {{chart.end}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-progress-bar mode="determinate" [value]="chart.progress">
            </mat-progress-bar>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center start">
            <button mat-raised-button style="background:rgb(77, 170, 167);" (click)="getWorkflow(chart)">
              <span class="material-icons" style="color: white;">
                edit
                </span>
                <span style="color: white;">Update</span>  
            </button>
            <button mat-raised-button color="accent" >
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div> -->
  <div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- <button type="button" class="btn btn-custom btn-rounded w-md waves-effect waves-light mb-4"><i class="mdi mdi-plus-circle"></i> Create Project</button> -->
            </div>
            <br><br>
            <div class="col-sm-8">
                <div class="project-sort float-right">
                    <div class="project-sort-item">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="phase-select">Phase :</label>
                                <select class="form-control ml-2 form-control-sm" id="phase-select">
                                    <option>All Projects(6)</option>
                                    <option>Complated</option>
                                    <option>Progress</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sort-select">Sort :</label>
                                <select class="form-control ml-2 form-control-sm" id="sort-select">
                                    <option>Date</option>
                                    <option>Name</option>
                                    <option>End date</option>
                                    <option>Start Date</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col-->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xl-4"*ngFor="let chart of myProjects; let i = index">
                <div class="card-box project-box">
                    <div class="dropdown float-right"><a href="#" class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false"><h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Delete</a> <a class="dropdown-item" href="#">Add Members</a> <a class="dropdown-item" href="#">Add Due Date</a></div>
                    </div>
                    <p class="text-muted text-uppercase mb-0 font-13">{{chart.title}}</p>
                    <h4 class="mt-0 mb-3"><a (click)="getWorkflow(chart)" class="text-dark">{{chart.title}}</a></h4>
                    <p class="text-muted font-13">{{chart.description}}...<a href="#" class="font-600 text-muted">view more</a></p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h3 class="mb-0">124</h3>
                            <p class="text-muted">Attachments</p>
                        </li>
                        <li class="list-inline-item">
                            <h3 class="mb-0">452</h3>
                            <p class="text-muted">Comments</p>
                        </li>
                        <li class="list-inline-item">
                            <h3 class="mb-0">85</h3>
                            <p class="text-muted">Tasks</p>
                        </li>
                    </ul>
                    <div class="project-members mb-4">
                        <label class="mr-3">Team :</label>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle thumb-sm" alt="friend"> </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle thumb-sm" alt="friend"> </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Anderson"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle thumb-sm" alt="friend"> </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="rounded-circle thumb-sm" alt="friend"> </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Username"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle thumb-sm" alt="friend"></a>
                    </div>
                    <label class="">Task completed: <span class="text-custom">55/85</span></label>
                    <div class="progress mb-1" style="height: 7px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        <!-- /.progress-bar .progress-bar-danger -->
                    </div>
                    <!-- /.progress .no-rounded -->
                </div>
                <br>
            </div>
            <!-- end col-->

        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-3"><a href="" class="btn btn-danger btn-lg waves-effect waves-light"><i class="mdi mdi-refresh"></i> Load More Projects</a></div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>